wadl/cards_WADL.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com:bbva:jee:arq:spring:core:servicing:utils" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com:bbva:jee:arq:spring:core:servicing:utils">
            <xs:element name="money" type="tns:money"/>
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:com:bbva:jee:arq:spring:core:servicing:utils" xmlns:tns="urn:com:bbva:zic:dto:net" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com:bbva:zic:dto:net">
            <xs:import namespace="urn:com:bbva:jee:arq:spring:core:servicing:utils"/>
            <xs:element name="CardCharge" type="tns:CardCharge"/>
            <xs:element name="EnumCardChargeCategory" type="tns:EnumCardChargeCategory"/>
            <xs:complexType name="CardCharge">
                <xs:sequence>
                    <xs:element minOccurs="0" name="category" type="tns:EnumCardChargeCategory"/>
                    <xs:element minOccurs="0" name="amount" type="ns1:money"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="EnumCardChargeCategory">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="TRAVEL"/>
                    <xs:enumeration value="CLOTHS"/>
                    <xs:enumeration value="FOOD"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:8080/zic/cards">
        <resource path="/V01" id="SrvCardsV01">
            <resource path="/creditCard/{id}/cardCharges">
                <param name="id" style="template" type="xs:string"/>
                <method name="GET" id="getCreditCardCharges">
                    <request>
                        <param name="$filter" style="query" default="null" type="xs:string"/>
                        <param name="$fields" style="query" default="null" type="xs:string"/>
                        <param name="$expands" style="query" default="null" type="xs:string"/>
                        <param name="$sort" style="query" default="null" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>