wadl/checkbooks_WADL.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prefix1="urn:com:bbva:zic:dto:net">
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:com:bbva:jee:arq:spring:core:servicing:utils" xmlns:tns="urn:com:bbva:zic:dto:net" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com:bbva:zic:dto:net">
            <xs:import namespace="urn:com:bbva:jee:arq:spring:core:servicing:utils"/>
            <xs:element name="Check" type="tns:Check"/>
            <xs:element name="Checkbook" type="tns:Checkbook"/>
            <xs:element name="EnumCheckStatus" type="tns:EnumCheckStatus"/>
            <xs:complexType name="Checkbook">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstCheck" type="xs:int"/>
                    <xs:element minOccurs="0" name="lastCheck" type="xs:int"/>
                    <xs:element minOccurs="0" name="totalCheck" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="actualState" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="checks" nillable="true" type="tns:Check"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Check">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="issueDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="value" type="ns1:money"/>
                    <xs:element minOccurs="0" name="status" type="tns:EnumCheckStatus"/>
                    <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="EnumCheckStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="HABILITADO"/>
                    <xs:enumeration value="SOLICITADO"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com:bbva:jee:arq:spring:core:servicing:utils" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com:bbva:jee:arq:spring:core:servicing:utils">
            <xs:element name="money" type="tns:money"/>
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:8080/zic/checkbooks">
        <resource path="/V01" id="com.bbva.zic.checkbooks.facade.v01.SrvCheckbooksV01">
            <resource path="/checks/{checkId}">
                <param name="checkId" style="template" type="xs:string"/>
                <method name="GET" id="getChecks">
                    <request>
                        <param name="$filter" style="query" default="null" type="xs:string"/>
                        <param name="$fields" style="query" default="null" type="xs:string"/>
                        <param name="$expands" style="query" default="null" type="xs:string"/>
                        <param name="$sort" style="query" default="null" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="prefix1:Check"/>
                    </response>
                </method>
            </resource>
            <resource path="/{checkbookId}">
                <param name="checkbookId" style="template" type="xs:string"/>
                <method name="GET" id="getCheckbooks">
                    <request>
                        <param name="$filter" style="query" default="null" type="xs:string"/>
                        <param name="$fields" style="query" default="null" type="xs:string"/>
                        <param name="$expands" style="query" default="null" type="xs:string"/>
                        <param name="$sort" style="query" default="null" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="prefix1:Checkbook"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>