wadl/globalPosition_wadl.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <grammars/>
    <resources base="http://localhost:8080/czic/GlobalPosition">
        <resource path="/V01" id="com.bbva.czic.globalposition.facade.v01.SrvGlobalPositionV01">
            <resource path="/customers/{customerId}/products">
                <param name="customerId" style="template" type="xs:string"/>
                <method name="GET" id="getExtractGlobalBalance">
                    <request>
                        <param name="$filter" style="query" default="(productType=={productType})" type="xs:string"/>
                        <param name="$fields" style="query" default="null" type="xs:string"/>
                        <param name="$expands" style="query" default="null" type="xs:string"/>
                        <param name="$sort" style="query" default="null" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{idProduct}">
                <param name="idProduct" style="template" type="xs:string"/>
                <method name="PUT" id="update">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>